#banner {
    background: url(https://silly-franklin-b0023b.netlify.com/media/Bosque.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin-top: -13px;
}
