#banner {
    background: url(https://distracted-clarke-2ab1a0.netlify.com/media/Bosque.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin-top: -13px;
}
